#main {
	margin-top: 50px;
	text-align: center;
}

.mlstate {
	background-image: url("/resources/img/app-icon.png");
	width: 80px;
	height: 80px;
	text-align: center;
	position: relative;
	margin: 40px auto 0px;
}

.home-page h1 {
  font-size: 64px;
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-bottom: 0;
  color: #ffffff;
}

.home-page h2 {
	font-size: 29px;
  	color: #ffffff;
}

.home-page h3 {
	font-size: 16px;
	color: #ffffff;
}

/* #8AA2B7 */

.background-pic {
	background-image: url("/resources/img/bg-pattern-alpha.png");
	background-color: rgb(0, 115, 228);
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	overflow-y: auto;
	background-size: 300px 225px; 
}

.birdy-icon {
	width: 80px;
	height: 80px;
}

textarea {
    width: 100%;
}
